{# GT Banner #}

{# Attach the library #}
{{ attach_library('gt/banner') }}

{# Preprocess #}
{% set body = (content.body) %}
{% set color = 'btn btn-style-' ~ color_button %}
{% set banner_image = content.field_image %}
{% set link_url = (content.field_link.0['#url']) %}
{% set link_text = (content.field_link.0['#title']) %}
{% set image_alt = (content.field_image.0['#item'].alt ) %}

{# Content #}
<div{{ attributes }}>
  {# Content with Image #}
  {% if banner_image.0['#item'].entity.uri.value %}
		<div class="banner-wrapper {{ color_background }}">
			<div class="row no-gutters align-items-center">
				<div class="banner-text-wrapper {{ color_background }} col-md-12 col-lg-5 order-2 order-lg-1 p-5">
					{# Title #}
          {{ title_prefix }}
          {% if label %}
            <h2 class="display-4">{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
          {# Body #}
          {% if body %}
            {{ body }}
          {% endif %}
          {# Link #}
          {% if link_url %}
            <a href="{{ link_url }}" class="{{ color }} my-3">{{ link_text }}</a>
          {% endif %}
				</div>
				<div class="banner-image d-flex align-items-center col-md-12 col-lg-7 p-0 order-1 order-lg-2">
					{{ banner_image }}
				</div>
			</div>
		</div>
  {# Content without Image #}
  {% else %}
    <div class="p-5 banner-no-image {{ color_background }} py-5">
      <div class="row">
        <div class="col-12 col-md-5">
          {# Title #}
          {{ title_prefix }}
          {% if label %}
            <h2 class="display-4">{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
        </div>
        <div class="col-12 col-md-7">
          {# Body #}
          {% if body %}
            {{ body }}
          {% endif %}
          {# Link #}
          {% if link_url %}
            <a href="{{ link_url }}" aria-labelledby="{{ link_text }}" class="{{ color }} my-3">{{ link_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>{# End Attribtes #}
