{# Modal #}
{{ attach_library('gt/gt-modal') }}

{# Preprocess #}
{% set quote = (content.field_quote) %}
{% set target = file_url(label|lower|replace({' ': ''})) %}
{% set video = (content.field_video_url.0) %}

<!-- Modal: Hidden Section -->
{% if images is not empty %}
    {% for image in images %}
        <div class="modal fade" id="modal-{{ image.target_id }}" tabindex="-1" role="dialog"
             aria-labelledby="ModalLabel" aria-hidden="true"
             data-toggle="modal" data-target="#modal-{{ image.target_id }}">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <!--Modal Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body mb-0 p-3">
                        <div class="embed-responsive z-depth-1-half shadow">
                            {% if video is not empty %}
                                {{ video }}
                            {% else %}
                                <img class="img-fluid z-depth-1" src="{{ file_url(image.entity.fileuri) }}"
                                     alt="{{ label }}" width="100%">
                            {% endif %}
                        </div>
                        {# Content #}
                        <div class="text-align-center pt-3 px-3">
                            {{ quote }}
                        </div>
                        {# Close #}
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
<!-- /Modal: Hidden Section -->

<!-- Modal: Images -->
<div{{ attributes.addClass('my-4') }}>
    {{ title_prefix }}
    {% if label %}
        <h6>{{ label }}</h6>
    {% endif %}
    {{ title_suffix }}
    <div id="modal" class="card text-white">
        {% if images is not empty %}
            {% for image in images %}
                <a class="img-fluid z-depth-1 pointer shadow" data-toggle="modal"
                   data-target="#modal-{{ image.target_id }}">
                    <img src="{{ file_url(image.entity.fileuri) }}" class="mx-auto d-block" title="{{ image.alt }}"
                         alt="{{ image.alt }}">
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!-- /Modal: Images -->
